h1 {
    text-align: center;
}

.title {
    font-weight: bold;
    margin: 50px 0px 0px 0px;
}

.subtitle {
    text-align: center;
    font-weight: bold;
    color: teal;
    margin-bottom: 50px;
}

.result {
    margin-top: 25px;
}

.highlight {
    background-color: yellow;
}

tr {
    cursor: pointer;
}

#searchbar {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.modal-container-comment {
    border-top: 1px solid black;
    padding: 0px 10px;
}

.modal-container-comment .comment {
    border-bottom: 1px solid gray;
}

.modal-container-comment .comment h5 {
    margin: 0px;
    font-size: 18px;
    margin-top: 15px;
    padding: 0px 15px;
}

.modal-container-comment .comment p {
    padding: 0px 15px;
}

.modal-container-comment .comment p:last-child {
    margin: 5px 0px;
}

.email {
    color: teal;
}

.modal-dialog {
    max-width: 650px !important;
}

.info {
    color: teal;
    font-weight: bold;
    padding: 5px 15px 0px 15px;
}